@import "../../../../styles/variables";

:host {
    display: flex;
    flex-direction: column;
    padding: 3rem 6rem 3rem 1.5rem;
    height: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    color: $color-primary;

    &__items {
        display: block;
        padding: 8px 16px 18px 16px;
        border-bottom: $color-primary 1px solid;
        line-height: 19.2px;
        transition: box-shadow 0.2s ease;

        &--active {
            border-bottom: $color-primary 3px solid;
            box-shadow: inset 0 -10px 7px -8px $color-primary;
        }

        &:not(&--active):hover {
            box-shadow: inset 0 -10px 7px -8px $color-primary;
        }
    }
}

.contnet{
    display: flex;
    flex:1;
}