:host {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 700;
    line-height: 19.6px
}

.label {
    display: block;
    color: #E7833D;
}

.input {
    padding: 0.7rem;
    border-radius: 25px; 
    border: 1px solid #E7833D;
    background-color:  #e7843d18;
    outline: none;
    &:focus {
        border: 2px solid #E7833D;
    }
}