@import "../../../../styles/variables";

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: #e7843d29;
}

.modal__content {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1.5rem;
    border-radius: 25px;
    background-color: white;
}

.title__container {
    display: flex;
}

.modal__message {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 26px;
    font-weight: 700;
    color: $color-primary;
}

.content__container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

.modal__button {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
}





