<div class="modal">
    <div class="modal__content">
        <div class="title__container">
            <p class="modal__message">{{title}}</p>
            <app-button-icon (click)="closeModal()" icon="assets/icons/close.svg"
                class="close"></app-button-icon>
        </div>

        <div class="content__container">
            <ng-content></ng-content>
        </div>

        <div class="modal__button">
            <app-button [label]="buttonTitle"></app-button>
        </div>
    </div>
</div>