<div class="modal">
    <div class="modal__content">
        <div class="title__container">
            <p class="modal__message">Crear tecnología</p>
            <img src="assets/icons/close.svg" alt="close" class="close">
        </div>
        <div class="content__container">
            <app-input label="Nombre" name="nombre" placeholder="Ingrese el nombre de la tecnología"
                type="text"></app-input>
            <app-input label="Descripción" name="descripcion" placeholder="Ingrese la descripción"
                type="text"></app-input>
        </div>
        <div class="modal__button">
            <app-button label="Crear"></app-button>
        </div>
    </div>
</div>