@import "../../../../styles/variables";

:host {
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: end;    
    height: 70px;   
    padding-right: 8%;
    border-radius: 0px 0px 24px 0px;
    background-color: #E7833DB2;    
}

.navbar--light{
    background-color: #FDF1E9;
    border-radius: 0px 0px 24px 24px;
}