<div class=content>
    <h2 class="content__message">Crea una capacidad</h2>
    <app-button class="btn-create" icon="assets\icons\plus.svg" label="Crear" (click)="openModal()"></app-button>
</div>

<app-modal *ngIf="modalIsOpen" title="Crear capacidad" (close)="closeModal()">
    <app-form-capability (responseStatus)="handleResponse($event)" [technologyList] = technologiesList></app-form-capability>
</app-modal>

<app-modal *ngIf="response" buttonTitle="Aceptar" (close)="closeResponseModal()" (accept)="closeResponseModal()">
    <div>
        <app-response-message [status]="response.status" [message]="response.message">
        </app-response-message>
    </div>
</app-modal>
